/* stylelint-disable declaration-colon-space-after */
/* stylelint-disable at-rule-empty-line-before */
/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable block-closing-brace-newline-before */
/* stylelint-disable unit-allowed-list */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */
/* stylelint-disable comment-whitespace-inside */
/* stylelint-disable selector-type-no-unknown */
/* stylelint-disable selector-list-comma-newline-after */
/* stylelint-disable block-opening-brace-space-before */
/* stylelint-disable rule-empty-line-before */
/* stylelint-disable max-empty-lines */
/* stylelint-disable no-eol-whitespace */
/* stylelint-disable comment-empty-line-before */
/* stylelint-disable string-quotes */
/* stylelint-disable font-family-name-quotes */
/* stylelint-disable indentation */
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
  }
  
  h1 {
    font-size: 30px;
    font-weight: 700;
  }
  
  h2 {
    font-size: 24px;
    font-weight: 700;
  }
  
  h3 {
    font-size: 18px;
    font-weight: 700;
  }

/* 1.3 */
a {
    color: #2f2f2f;
  }


  
  a:hover {
    /* No underlining when hovering over a link */
    text-decoration: none;
  }
a:visited {
    /* visited link */
    color: #2f2f2f;
  }

a.button:hover{
  color: white;
}

a.button:visited{
  color: white;
}

a.button:active{
  color: white;
}
  
  a:active {
    /* selected link */
    color: #2f2f2f;
  }
a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
  }
input, texture, select, button {
    font-family: system-ui;
  }
button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: #357b70;
    color: white;
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  }
button:hover, button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
  }
.button__secondary {
    background-color: #e0b354;
    color: #2b2b2b;
  }

/* 1.6 */
.page-header__item{
  display: inline-block;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;  
}

.page-footer {
  clear: both;
}

.page-body {
  text-align: center;
}

.profile {
  width: 1200px;
}

.profile {
  width: 80%;
}

.profile {
  min-width: 360px;
  max-width: 1200px;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__text{
    text-align: left;
    margin: 0 auto;
    padding: 5px;
}

.profile__text {
  flex: 1 1 100px;
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.grid {
  display: grid;
}

.grid__item {
  background-color: lightgray;
  padding: 5px;
}

.grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
}

.grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item:last-child {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
}

/* 1.7 */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

.button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: #357b70;
  text-decoration: none;
  /* margin: 0 auto; */
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
  /* fix for the link button */
  width: 140px;
  display: block;
  margin:0 auto;
  margin-top: 20px;
  text-align: center;
}




button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
