/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

:root { /* tan */ /* dark red */ /* orange */ /* dark grey */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* General Elements */
body{
	background-color:  #ede4d3;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
}

h1 {
  	font-size: 30px;
  	font-weight: 700;
}

h2 {
  	font-size: 24px;
  	font-weight: 700;
}

h3 {
  	font-size: 18px;
  	font-weight: 700;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
/* 1.3 */
a {
    color: #2f2f2f;
  }

a:hover {
    /* No underlining when hovering over a link */
    text-decoration: none;
  }

a:visited {
    /* visited link */
    color: #782323;
  }

a.button:hover{
  color: white;
}

a.button:visited{
  color: white;
}

a.button:active{
  color: white;
}

a:active {
    /* selected link */
    color: #2f2f2f;
  }

a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
  }
 
/* Misc Elements */m  
input, texture, select, button {
    font-family: system-ui;
  }
button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: #357b70;
    color: white;
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  }
button:hover, button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
  }
.button__secondary {
    background-color: #e0b354;
    color: #2b2b2b;
  }

/* Misc Elements*/
button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: #782323;
  text-decoration: none;
  /* margin: 0 auto; */
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
  /* fix for the link button */
  width: 140px;
  display: inline-block;
  margin:0 auto;
  margin-top: 20px;
  text-align: center;
}
.button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: #782323;
  text-decoration: none;
  /* margin: 0 auto; */
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
  /* fix for the link button */
  width: 140px;
  display: block;
  margin:0 auto;
  margin-top: 20px;
  text-align: center;
}


/* Footer elements */

.page-footer {
	clear: both;
	padding-top: 2%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #e0b354;
}

/* Home page main elements */
.profile {
  width: 1200px;
}

.profile {
  width: 80%;
}

.profile {
  min-width: 360px;
  max-width: 1200px;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__text{
    text-align: left;
    margin: 0 auto;
    padding: 5px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100px;
            flex: 1 1 100px;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;  
}

.page-body {
  text-align: center;
}

/* Header elements*/
/* 1.6 */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/*Work page main elements*/
.grid_item {
	display: inline-block;
	width: 33%;
}

@supports (display: grid) {
	.grid {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 20px 1fr 20px 1fr;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
		margin: 0;
	}

	.grid__item {
		background-color: lightgrey;
		width: auto;
		min-height: auto;
		margin: 0;
		border-radius: 20px;
		text-align: center;
	}
}

.grid__item:last-child {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 0;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

.grid__item:last-child {
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

/* 1.7 Reponsive elements*/
@media all and (max-width: 750px) {
	h1 {
		font-size: 22px;
	}

	.grid {
		grid-gap: 10px;
	}
}

@media all and (min-width: 500px) and (max-width: 750px){
  	.grid {
    	-ms-grid-columns: 1fr 10px 1fr;
    	grid-template-columns: repeat(2, 1fr);
  	}

  	.profile__portrait {
		width: 200px;
	}
}

@media all and (max-width: 500px) {
	.page-header {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.page-header_item:first-child {
		-webkit-box-flex: 0;
		    -ms-flex: none;
		        flex: none;
		width: 200px;
		height: 70px;
		-ms-flex-item-align: center;
		    -ms-grid-row-align: center;
		    align-self: center;
	}

	.page-header_item:last-child {
		text-align: center;
	}

	.navigation-list {
		margin-left: -40px;
	}

	.navigation-list li {
		margin-left: 5px;
		font-size: 14px;
	}

	.profile {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	} 

	.profile__portrait {
		margin: 0 auto;
		width: 180px;
	}

	.grid {
		-ms-grid-columns: 1fr;
		grid-template-columns: repeat(, 1fr);
	}
}

/*Animations*/

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  } 50% {
    fill: #fcffad;
  } 100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  } 50% {
    fill: #fcffad;
  } 100% {
    fill: #f76414;
  }
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
from {
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
} to {
  -webkit-transform: translate(200px, 50px);
          transform: translate(200px, 50px);
}
}

@keyframes cloud-move {
from {
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
} to {
  -webkit-transform: translate(200px, 50px);
          transform: translate(200px, 50px);
}
}

.cloud-front {
-webkit-animation: 30s cloud-move infinite alternate linear;
        animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  } to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  } to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}